extends base

block title
  title= __('archive') + ' | ' + config.title
block content
  .post
    .post-archive
      .archive-wrap
        - var allposts = page.posts.toArray().reduce((r, v, i, a, k = -v.date.format('YYYY')) => ((r[k] || (r[k] = [])).push(v), r), {})
        //- each posts, year in _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')})
        each posts, year in allposts
          h2= -year
          ul.listing
            for post in posts
                li
                  a(href=url_for(post.path), title=post.title)
                    span.date= post.date.format(theme.date_formats.archive)
                    span.tite
                      +title(post)              
  include _partial/paginator.jade
